*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
release/release.key
release/release_local.sh
example/build
example/.idea
example/gradle
example/.gradle
example/app/build
example/gradlew.bat
example/gradlew